body {
	/*gets random image for background*/
	
}

/* Main page */
.name 

/* Form */
form {
    font-family: "Helvetica",Sans-Serif;
	font-size: 1em;
	text-decoration: none;
	color: #ffffff;
	background-color: rgba(0, 0, 0, .35);
	padding: 20px 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}




