:root {
  --main-bg: #838E83;
  --form-bg: #C9CEBD;
  --form-text: #C4403E;

  --stat-text: #C9CEBD;
  --number-text: #64403E;
  --stat-bg: #6C6061;
  --number-bg: #B2BCAA;
}

body {
	background-color: var(--main-bg);	
}

.grid {
	margin: auto;
	width: 80%;
	height: 50em;
	display: grid;
	grid-template-columns: 3fr 2fr 3fr;
	grid-template-rows: repeat(6, 1fr);
	border: 2px solid black;
}

.vs {
	background-color: var(--main-bg);
	color: var(--stat-bg);
	font-family: 'open_sansbold';
	text-align: center;
	padding-top: 1.4em;
	font-size: 1.8em;
	text-transform: uppercase;
	border-bottom: 2px solid black;
}

.stat {
	background-color: var(--stat-bg);
	color: var(--stat-text);
	font-family: 'open_sansbold';
	text-align: center;
	padding-top: 2em;
	font-size: 1.5em;
	text-transform: uppercase;
}

.name {
	background-color: var(--stat-text);
	color: var(--stat-bg);
	font-family: 'open_sansbold';
	text-align: center;
	padding-top: 1em;
	font-size: 2.4em;
	text-transform: uppercase;
	border-bottom: 2px solid black;
}

.number {
	background-color: var(--number-bg);
	color: var(--number-text);
	font-family: 'open_sansbold';
	text-align: center;
	padding-top: 1.2em;
	font-size: 2em;	
	text-transform: uppercase;
}

.enterinfo {
	font-family: 'open_sansregular';
	font-size: 1em;
	background-color: var(--form-bg);
	padding: 20px 20px;
	color: white;

	width: 40%;
	height: 45%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.formtext {
	color: var(--form-text);
	text-align: center;
	font-size: 2em;
}

form {
	color: var(--form-text);
	font-family: 'open_sanslight';
	margin-top: 2em;
}



