{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<head>
    <meta charset="utf-8" />
    <title>Hi</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
    <link rel = "stylesheet" href = "{{url_for('static', filename='FontSheet.css')}}">
</head>
<body>

<div>
	{% if name1 == None %}
	<div class="enterinfo">
    	<div class="formtext">Enter two Fortnite usernames:</div>
   		<div class="form">
	   		{{ wtf.quick_form(form) }}
		</div>
	</div>

	{% else %}
	<div class='grid'>
		<div class = 'name'>{{ name1 }} </div>
		<div class = 'vs'> VS </div>
		<div class = 'name'>{{ name2 }} </div>

		<div class = 'number'>{{ stats1[1] }}</div>
		<div class = 'stat'>Wins</div>
		<div class = 'number'>{{ stats2[1] }}</div>

		<div class = 'number'>{{ stats1[3] }}</div>
		<div class = 'stat'>Kills</div>
		<div class = 'number'>{{ stats2[3] }}</div>

		<div class = 'number'>{{ stats1[0] }}</div>
		<div class = 'stat'>Games Played</div>
		<div class = 'number'>{{ stats2[0] }}</div>

		<div class = 'number'>{{ stats1[4] }}</div>
		<div class = 'stat'>K/D Ratio</div>
		<div class = 'number'>{{ stats2[4] }}</div>

		<div class = 'number'>{{ stats1[2] }}</div>
		<div class = 'stat'>Win Ratio</div>
		<div class = 'number'>{{ stats2[2] }}</div>
	</div>

	<div class="graphcontainer">
		<div class="graphtitle"> K/D Over Recent Sessions </div>
		<div class="legend"> 
			<div> {{ name1 }} </div> 
			<div> {{ name2 }} </div>
		</div>
		<div class="graph">
    	<center>
    		<canvas id="lineChart" height='160'></canvas>
    		<script>
     	  	var canvas = document.getElementById("lineChart");
			var ctx = canvas.getContext('2d');

			Chart.defaults.global.defaultFontSize = 16;
			Chart.defaults.global.defaultFontFamily = 'open_sansregular';

       		var data = {
       			labels : ["10", "9", "8", "7", "6", "5", "4", "3", "2", "1"],
       			datasets : [
          			{
          			label: "{{ name1 }}",
                	backgroundColor: 'rgba(226,280,307,.7)',
                	borderColor: 'rgba(75,93,102,1)',
               		pointBackgroundColor: 'rgba(75,93,102,1)',
            		data: [{% for item in recents1 %}
                          {{ item }},
                        	{% endfor %}]
          			},
          			{
          			label: "{{ name2 }}",
                	backgroundColor: "rgba(300,240,257,.7)",
                	borderColor: "rgba(100,93,102,1)",
               		pointBackgroundColor: "rgba(100,93,102,1)",
            		data: [{% for item in recents2 %}
                          {{ item }},
                        	{% endfor %}]
          			}
          		],
          	}
          	var options = {
      			legend: {
            		display: false,
            		labels: {
              			fontColor: 'rgb(255, 99, 132)'
            		}
        		},
        		scales: {
	                xAxes: [{
	                    display: true,
	                    scaleLabel: {
	                    display: true,
	                        labelString: 'Nth-Recent Session'
                        }
	                }]
                },
			}

       		var lineChart = new Chart(ctx, {
			    type: 'line',
			    data: data,
			    options: options
			});
    		</script>
  		</center>
  		</div>
  	</div>

  	<div class = "piecontainer">
  		<div class="graphtitle"> Win Distribution </div>
		<div class="legend"> 
			<div> {{ name1 }} </div> 
			<div> {{ name2 }} </div>
		</div>
		<div class="piegraphs">
		<div>
    	<center>
    		<canvas id="player1wins" height='240'></canvas>
    		<script>
     	  	var canvas = document.getElementById("player1wins");
			var ctx = canvas.getContext('2d');

			// Global Options:
			Chart.defaults.global.defaultFontColor = 'black';
			Chart.defaults.global.defaultFontSize = 16;

			var data = {
			    labels: ["Solo", "Duo", "Squad"],
			      datasets: [
			        {
			            fill: true,
			            backgroundColor: [
			                'rgb(151,187,205)',
			                'rgb(75,93,102)',
			                'rgb(226,280,307)'],
			            data: [{% for item in wins1 %}
                          {{ item }},
                        	{% endfor %}],
			            borderColor:	['black', 'black', 'black'],
			            borderWidth: [2,2,2]
			        }
			    ]
			};

			var options = {
			};

			var myBarChart = new Chart(ctx, {
			    type: 'pie',
			    data: data,
			    options: options
			});
    		</script>
  		</center>
  		</div>
  		<div>
    	<center>
    		<canvas id="player2wins" height='240'></canvas>
    		<script>
     	  	var canvas = document.getElementById("player2wins");
			var ctx = canvas.getContext('2d');

			// Global Options:
			Chart.defaults.global.defaultFontColor = 'black';
			Chart.defaults.global.defaultFontSize = 16;

			var data = {
			    labels: ["Solo", "Duo", "Squad"],
			      datasets: [
			        {
			            fill: true,
			            backgroundColor: [
			                'rgb(200,187,205)',
			                'rgb(100,93,102)',
			                'rgb(300,240,257)'],
			            data: [{% for item in wins2 %}
                          {{ item }},
                        	{% endfor %}],
			            borderColor:	['black', 'black', 'black'],
			            borderWidth: [2,2,2]
			        }
			    ]
			};

			var options = {
			};

			var myBarChart = new Chart(ctx, {
			    type: 'pie',
			    data: data,
			    options: options
			});
    		</script>
  		</center>
  		</div>
  		</div>
  	</div>
	{% endif %}
</div>

</body>
{% endblock %}
